*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: antiquewhite;
}


h1{
    padding: 30px;
    font-family: sans-serif;
    text-align: center;

}
.container{
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 30px;
    min-height: 100vh;
    box-sizing: border-box;

}

form{
    display: flex;
    flex-direction: column;
}

input,textarea,button{
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
    font: 100 1.2rem sans-serif;
    border-radius: 5px;
    margin: 10px;
}


button{
    background-color: rgb(50,50,50);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(51,7,161);
}

.task{
    background-color: rgb(247, 247, 247);
    font: 100 1.1rem sans-serif ;
    padding: 30px;
    color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    margin: 2vmax;
}
/* 
*{
    border: 1px solid red;
} */

.task > div{

    width: 100%;
}
.task span{
    color: rgba(0,0,0,0.632);
}

.deletebtn{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;

}